html{
    font-family: 'Roboto', 'Helvetica', sans-sarif;
}
body{
    background-color: #555555;
    color: #333;
    max-width: 50em;
    margin: 0 auto;
}
div:focus{
    outline: none;
}
.flex-container{
    height: 90vh;
    margin: 32px;
    display: flex;
    flex-direction: column;
}
#heading{
    background-color: #ffffff;
    font-weight: bold;
    font-size: 48px;
    padding-top: 30px;
    padding-left: 32px;
}
#content{
    background-color: #ffffff;
    padding-top: 10px;
    padding-left: 32px;
    padding-right: 32px;
    font-weight: medium;
    font-size: 24px;
    flex: 1;
}